section.shop-section
    div.shop-section__title Shop Your Values
    div.shop-section__hr
    div.container.shop-section__row 
        div.shop-section__list 
            mixin item(args={})
                if(args.modification)
                    div.list.list-active
                        img.list__img(src=args.img, alt="картинка")
                        div.list__text=args.text
                else
                    div.list
                        img.list__img(src=args.img, alt="картинка")
                        div.list__text=args.text
            +item({
                img:'./assets/imgs/img5.svg', 
                text:'Toxin Free',
                modification: true
            })
            +item({
                img:'./assets/imgs/img6.svg',
                text:'Social Good',
                modification: false
            })
            +item({
                img:'./assets/imgs/img7.svg',
                text:'Reusable',
                modification: false
            })
            +item({
                img:'./assets/imgs/img8.svg',
                text:'Made in the USA',
                modification: false
            })
            +item({
                img:'./assets/imgs/img9.svg',
                text:'Certified Organic',
                modification: false
            })
            +item({
                img:'./assets/imgs/img10.svg',
                text:'Certified B Corporation',
                modification: false
            })
        div.shop-section__products
            mixin items(img, text, title, cost, giveback)
                div.products
                    img.products__img(src=img, alt="картинка")
                    div.products__text=text 
                    div.products__title=title 
                    div.products__description
                        a.products__cost(href="https://7lesha.github.io/pr-aleksei/dist/index.html")!=cost
                        div.products__giveback=giveback
            +items("./assets/imgs/img11.png",'Boon Supply','Reusable Towels, Set of 4, Fruit','Add to Bag&emsp;-&emsp;$22','40% Giveback')
            +items("./assets/imgs/img12.png",'Zip Top','Reusable Storage Set','Add to Bag&emsp;-&emsp;$90','20% Giveback')
            +items("./assets/imgs/img13.png",'HiBAR','Zero Waste Moisturize Shampoo and Conditioner','Add to Bag&emsp;-&emsp;$27','10% Giveback')
