section.shop-section
    .shop-section__title Shop Your Values
    hr.shop-section__hr
    .container.shop-section__row 
        .shop-section__list 
            mixin item(img, text)
                .list 
                    img.list__img(src=img, alt="картинка")
                    .list__text=text
            +item('./assets/imgs/img5.svg','Toxin Free')
            +item('./assets/imgs/img6.svg','Social Good')
            +item('./assets/imgs/img7.svg','Reusable')
            +item('./assets/imgs/img8.svg','Made in the USA')
            +item('./assets/imgs/img9.svg','Certified Organic')
            +item('./assets/imgs/img10.svg','Certified B Corporation')
        .shop-section__products
            mixin items(img, text, title, cost, giveback)
                .products
                    img.products__img(src=img, alt="картинка")
                    .products__text=text 
                    .products__title=title 
                    hr.products__hr
                    .products__description
                        .products__cost!=cost
                        .products__giveback=giveback
            +items("./assets/imgs/img11.png",'Boon Supply','Reusable Towels, Set of 4, Fruit','Add to Bag&emsp;-&emsp;$22','40% Giveback')
            +items("./assets/imgs/img12.png",'Zip Top','Reusable Storage Set','Add to Bag&emsp;-&emsp;$90','20% Giveback')
            +items("./assets/imgs/img13.png",'HiBAR','Zero Waste Moisturize Shampoo and Conditioner','Add to Bag&emsp;-&emsp;$27','10% Giveback')
